# http://blog.lavoie.sl/2012/10/git-tutorial-and-global-configs.html

[alias]
	alias = "!sh -c '[ $ # = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
	aliases = "!git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"
	br = "branch"
	brp = "!sh -c '[ $# = 1 ] && git checkout -b \"$1\" && git push -u origin \"$1\" || echo \"usage: git brp <new branch>\" >&2 && exit 1' -"
	ci = "commit"
	co = "checkout"
	d = "diff"
	dc = "diff --cached"
	dn = "diff --name-status"
	forest = "log --pretty=format:'%H%d: %s%n  %ad %n  %an (%ae)' --graph --all"
	ign = "ls-files -o -i --exclude-standard"
	lg = "log --graph --pretty=format:'%Cred%h %C(yellow)%d %C(bold blue)<%an> %Cgreen(%cr) %n %Creset %s' --abbrev-commit --date=relative"
	pp = "!git pull && git push"
	rank = "shortlog -sn --no-merges"
	rbp = "!sh -c 'git pull && git rebase master && git push -f origin $(git br | grep \"^\\*\" | sed \"s/^\\* *//\")'"
	root = "rev-parse --show-toplevel"
	searchcommits = "!f() { query=\"$1\"; shift; git log -S\"$query\" \"$@\"; }; f \"$@\""
	st = "status"
	tree = "log --pretty=format:'%H%d: %s%n  %ad %n  %an (%ae)' --graph"
	w = "whatchanged"
	who = "shortlog -s --"

[apply]
	whitespace = "fix"

# http://stevenharman.net/git-pull-with-automatic-rebase
[branch]
	autosetuprebase = "always"

[color]
	branch = "auto"
	diff = "auto"
	interactive = "auto"
	pager = "true"
	status = "auto"
	ui = "true"

[color "branch"]
	current = "yellow reverse"
	local = "yellow"
	remote = "green"

[color "diff"]
	frag = "magenta bold"
	meta = "yellow bold"
	new = "green bold"
	old = "red bold"

[color "status"]
	added = "yellow"
	changed = "green"
	untracked = "cyan"

[core]
	excludesfile = "/Users/seb/.gitignore"
	pager = "less -FRSX"
	whitespace = "fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab"

[credential]
	helper = "osxkeychain"

[diff]
	tool = "diffmerge --nosplash"

[difftool "diffmerge"]
	cmd = "diffmerge --nosplash \"$LOCAL\" \"$REMOTE\""

# http://twobitlabs.com/2011/08/install-diffmerge-git-mac-os-x/
[merge]
	tool = "diffmerge --nosplash"

# http://stackoverflow.com/questions/1251681/diff-tool-generates-unwanted-orig-files
[mergetool]
	keepBackup = "false"

[mergetool "diffmerge"]
	cmd = "diffmerge --nosplash --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = "true"

# http://pivotallabs.com/users/alex/blog/articles/883-git-config-push-default-matching
[push]
	default = "upstream"

[user]
	email = "github@lavoie.sl"
	name = "Sébastien Lavoie"
